<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d5acb1">  <td>19/09/19 14:30:53</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test32CMSAsignaRol.CMSAsignarRolaUsuario()[pri:71, instance:test.Test32CMSAsignaRol@52d6d273]">CMSAsignarRolaUsuario</td> 
  <td>main@1290795133</td>   <td></td> </tr>
<tr bgcolor="7975ba">  <td>19/09/19 14:27:03</td>   <td>-229593</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test30CMSRoles.CMSRolesCrear()[pri:67, instance:test.Test30CMSRoles@69afa141]">CMSRolesCrear</td> 
  <td>main@1290795133</td>   <td></td> </tr>
<tr bgcolor="7975ba">  <td>19/09/19 14:27:43</td>   <td>-189695</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test30CMSRoles.CMSRolesEditar()[pri:68, instance:test.Test30CMSRoles@69afa141]">CMSRolesEditar</td> 
  <td>main@1290795133</td>   <td></td> </tr>
<tr bgcolor="7975ba">  <td>19/09/19 14:26:32</td>   <td>-261365</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test30CMSRoles.CMSRolesTest()[pri:66, instance:test.Test30CMSRoles@69afa141]">CMSRolesTest</td> 
  <td>main@1290795133</td>   <td></td> </tr>
<tr bgcolor="67ad90">  <td>19/09/19 14:29:07</td>   <td>-106099</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test31CMSUsuario.CMSUsuarioEditar()[pri:70, instance:test.Test31CMSUsuario@643d2dae]">CMSUsuarioEditar</td> 
  <td>main@1290795133</td>   <td></td> </tr>
<tr bgcolor="67ad90">  <td>19/09/19 14:28:30</td>   <td>-142822</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test31CMSUsuario.CMSUsuarioTest()[pri:69, instance:test.Test31CMSUsuario@643d2dae]">CMSUsuarioTest</td> 
  <td>main@1290795133</td>   <td></td> </tr>
<tr bgcolor="db9891">  <td>19/09/19 14:24:15</td>   <td>-397691</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test29CMSPermisos.CMSpermisos()[pri:62, instance:test.Test29CMSPermisos@49f40c00]">CMSpermisos</td> 
  <td>main@1290795133</td>   <td></td> </tr>
<tr bgcolor="db9891">  <td>19/09/19 14:24:44</td>   <td>-369104</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test29CMSPermisos.CMSpermisosCrear()[pri:63, instance:test.Test29CMSPermisos@49f40c00]">CMSpermisosCrear</td> 
  <td>main@1290795133</td>   <td></td> </tr>
<tr bgcolor="db9891">  <td>19/09/19 14:25:18</td>   <td>-335116</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test29CMSPermisos.CMSpermisosEditar()[pri:64, instance:test.Test29CMSPermisos@49f40c00]">CMSpermisosEditar</td> 
  <td>main@1290795133</td>   <td></td> </tr>
<tr bgcolor="db9891">  <td>19/09/19 14:25:49</td>   <td>-303676</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test29CMSPermisos.CMSpermisosEliminar()[pri:65, instance:test.Test29CMSPermisos@49f40c00]">CMSpermisosEliminar</td> 
  <td>main@1290795133</td>   <td></td> </tr>
<tr bgcolor="db9891">  <td>19/09/19 14:26:21</td>   <td>-272025</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test29CMSPermisos.CloseChrome()[pri:0, instance:test.Test29CMSPermisos@49f40c00]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1290795133</td>   <td></td> </tr>
<tr bgcolor="7975ba">  <td>19/09/19 14:28:22</td>   <td>-150892</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test30CMSRoles.CloseChrome()[pri:0, instance:test.Test30CMSRoles@69afa141]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1290795133</td>   <td></td> </tr>
<tr bgcolor="67ad90">  <td>19/09/19 14:30:41</td>   <td>-11791</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test31CMSUsuario.CloseChrome()[pri:0, instance:test.Test31CMSUsuario@643d2dae]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1290795133</td>   <td></td> </tr>
<tr bgcolor="d5acb1">  <td>19/09/19 14:31:36</td>   <td>42801</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test32CMSAsignaRol.CloseChrome()[pri:0, instance:test.Test32CMSAsignaRol@52d6d273]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1290795133</td>   <td></td> </tr>
<tr bgcolor="db9891">  <td>19/09/19 14:24:07</td>   <td>-406185</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test29CMSPermisos.IngresoAmbiente()[pri:0, instance:test.Test29CMSPermisos@49f40c00]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1290795133</td>   <td></td> </tr>
<tr bgcolor="7975ba">  <td>19/09/19 14:26:21</td>   <td>-271454</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test30CMSRoles.IngresoAmbiente()[pri:0, instance:test.Test30CMSRoles@69afa141]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1290795133</td>   <td></td> </tr>
<tr bgcolor="67ad90">  <td>19/09/19 14:28:23</td>   <td>-150270</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test31CMSUsuario.IngresoAmbiente()[pri:0, instance:test.Test31CMSUsuario@643d2dae]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1290795133</td>   <td></td> </tr>
<tr bgcolor="d5acb1">  <td>19/09/19 14:30:42</td>   <td>-11223</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test32CMSAsignaRol.IngresoAmbiente()[pri:0, instance:test.Test32CMSAsignaRol@52d6d273]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1290795133</td>   <td></td> </tr>
<tr bgcolor="db9891">  <td>19/09/19 14:24:43</td>   <td>-370324</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test29CMSPermisos.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test29CMSPermisos@49f40c00]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1290795133</td>   <td></td> </tr>
<tr bgcolor="db9891">  <td>19/09/19 14:25:17</td>   <td>-336286</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test29CMSPermisos.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test29CMSPermisos@49f40c00]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1290795133</td>   <td></td> </tr>
<tr bgcolor="db9891">  <td>19/09/19 14:25:48</td>   <td>-304788</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test29CMSPermisos.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test29CMSPermisos@49f40c00]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1290795133</td>   <td></td> </tr>
<tr bgcolor="db9891">  <td>19/09/19 14:26:20</td>   <td>-273113</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test29CMSPermisos.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test29CMSPermisos@49f40c00]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1290795133</td>   <td></td> </tr>
<tr bgcolor="7975ba">  <td>19/09/19 14:27:02</td>   <td>-231332</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test30CMSRoles.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test30CMSRoles@69afa141]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1290795133</td>   <td></td> </tr>
<tr bgcolor="7975ba">  <td>19/09/19 14:27:42</td>   <td>-191273</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test30CMSRoles.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test30CMSRoles@69afa141]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1290795133</td>   <td></td> </tr>
<tr bgcolor="7975ba">  <td>19/09/19 14:28:20</td>   <td>-152982</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test30CMSRoles.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test30CMSRoles@69afa141]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1290795133</td>   <td></td> </tr>
<tr bgcolor="67ad90">  <td>19/09/19 14:28:55</td>   <td>-118206</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test31CMSUsuario.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test31CMSUsuario@643d2dae]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1290795133</td>   <td></td> </tr>
<tr bgcolor="67ad90">  <td>19/09/19 14:30:40</td>   <td>-12985</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test31CMSUsuario.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test31CMSUsuario@643d2dae]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1290795133</td>   <td></td> </tr>
<tr bgcolor="d5acb1">  <td>19/09/19 14:31:35</td>   <td>41635</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test32CMSAsignaRol.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test32CMSAsignaRol@52d6d273]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1290795133</td>   <td></td> </tr>
</table>
